.modal-wrapper {
  width: 100%;
  height: 100%;
  color: var(--lm-text-color-dark);
  padding: 12rem 6.4rem;
  display: flex;
  flex-direction: column;
  background-color: var(--main-dark-blue);
}

.main-nav {
  width: 100%;
  height: 100%;
}

.main-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 100%;
  list-style: none;
}

.main-nav-list button {
  font-family: inherit;
  font-size: 2rem;
  font-weight: 500;
  border: none;
  background: none;
  color: var(--main-text-color-light);
  transition: all 0.3s;
}

.main-nav-list button:hover {
  color: var(--accent-blue);
}

.main-nav-list button:active {
  color: var(--accent-blue-active);
}
