/*
--- 01 TYPORGRAPHY ---
- Font sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:

- Line heights:
---

--- 02 WHITESPACE ---
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
---

- Letter Spacing:

--- 03 SHADOWS ---
---

--- 04 BORDER-RADIUS ---
---
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 64em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 27em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Rubik", sans-serif !important;
  line-height: 1;
  font-weight: 400;
  color: var(--main-text-color-dark);

  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}

.grid > * {
  min-width: 0;
}

input {
  display: block;
  min-width: 0;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 0, "opsz" 24;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

:root {
  --main-white: #ffffff;
  --main-dark-blue: #0d1424;

  --main-text-color-light: #ffffff;
  --main-text-color-dark: #0d1424;
  --main-text-color-grey: #868a92;

  --accent-blue: #03dbff;
  --accent-blue-hover: #03c5e6;
  --accent-blue-active: #02afcc;

  --accent-white: #ffffff;
  --accent-white-hover: #e6e6e6;
  --accent-white-active: #cccccc;

  --accent-pink: #fc03d5;
  --accent-pink-hover: #e303c0;
  --accent-pink-active: #ca02aa;

  --main-dark-blue-hover: #252c3a;
  --main-dark-blue-active: #3d4350;

  --image-border-color: #cccccc;

  --shadow-color: #b6b9bd;
  --dark-shadow-color: #000000;
  --dark-shadow-light-color: #565b66;
  --blue-shadow-color: #0299b3;
  --pink-shadow-color: #b00295;
  --white-shadow-color: #cccccc;
  --main-dark-blue-opaque: #0d1424cc;
  --main-dark-blue-border: #3d4350;

  --toastr-success: #03dbff;
  --toastr-success-hover: #03c5e6;

  --toastr-error: #d50000;
  --toastr-error-hover: #c00000;

  --toastr-warning: #7f6fea;
  --toastr-warning-hover: #7264d3;

  /* chatbot */
  --chat--color-primary: #03dbff !important;
  --chat--color-secondary: #ffffff !important;
  --chat--window--width: 360px !important;
  --chat--window--height: 500px !important;
  --chat--border-radius: 0.5rem !important;
}

/* Toast Styles */
.toast-success {
  font-family: inherit;
  font-size: 1.6rem;
  padding: 0.8rem 1.6rem;
  line-height: 1.4;
  background-color: var(--toastr-success) !important;
}

.toast-success:hover {
  background-color: var(--toastr-success-hover) !important;
}

.toast-error {
  font-family: inherit !important;
  font-size: 1.6rem;
  padding: 0.8rem 1.6rem;
  line-height: 1.4;
  background-color: var(--toastr-error) !important;
}

.toast-error:hover {
  background-color: var(--toastr-error-hover) !important;
}

.toast-warning {
  font-family: inherit !important;
  font-size: 1.6rem;
  padding: 0.8rem 1.6rem;
  line-height: 1.4;
  background-color: var(--toastr-warning) !important;
}

.toast-warning:hover {
  background-color: var(--toastr-warning-hover) !important;
}

.toast-title {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--main-text-color-light);
  margin-bottom: 0.8rem;
}

.toast-message {
  font-size: 1.6rem;
  color: var(--main-text-color-light);
}

/* width */
::-webkit-scrollbar {
  width: 0.8rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--accent-blue);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent-blue);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--accent-blue);
  cursor: pointer;
}

/* Modal Class */
.menu-modal {
  width: 100%;
  height: 100%;
}
